<h2><%= @user.name || @user.username %></h2>
<h4><a href="https://github.com/<%= @user.username %>">View on Github</a></h4>

<% if @user.photos.nil? %>
<h3>Sad face! <%= @user.first_name %> has no photos!</h3>
<% else %>
  <% @user.photos.each do |photo| %>
    <img style="width:800px;height:450px;" src="<%= photo.url %>">
  <% end %>
<% end %>