<h2>Setup</h2>
<p>So, you're ready to set this up on your computer? Awesome! Setup is simple. We're working on making this even more simple, and would love your feedback.</p>

<h3>Step 1</h3>
<p>Install dependancies</h3>
<pre>brew install imagesnap</pre>
<pre>brew install imagemagick</pre>

<h3>Step 2</h3>
<p>Copy the following code to your .git/hooks/post-commit file in your project.</p>

<pre>
#!/bin/bash

API_KEY="<%= current_user.api_key %>"
FILENAME=`date +%s`.jpg
MESSAGE="test bro"
imagesnap -q -w 3 $FILENAME
convert $FILENAME -resize '800x800>' $(basename $FILENAME .JPG)

echo "Uploading to commitphotos.com..."

curl -F photo=@$FILENAME --form "api_key=$API_KEY" https://commitphotos.herokuapp.com/photos/new

rm $FILENAME

exit 0
</pre>

<h3>Step 3</h3>
<p>Commit and see your photo on <a href="/profiles/<%= current_user.username %>">your profile</a>!</p>