.container {
  max-width: 650px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica;
}

img.profile {
  display: block;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  width: 80px;
  height: 80px;
  display: block;
  float: left;
  margin-bottom: 10px;
}

.username {
  font-size: 24px;
  display: block;
  float: left;
  margin: 20px;
  color: #333;
}

.message, .date {
  font-size: 1.5em;
  margin-top: 10px;
  display: block;
  color: #333;
}

.date {
  color: #c7c7c7;
}

.commit-box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  padding: 20px;
  margin-bottom: 30px;
}

.commit {
  max-width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

footer {
  padding: 20px;
}

.ritzy {
  font-family: "Baskerville";
  font-weight: 100;
}

@media screen and (max-width: 650px) {
  .commit-box, .commit {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}