body {
  background: black;
  margin: 0;
  overflow-x: hidden;
}

body, main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.commit {
  width: 33.33%;
  height: 33.33%;
  float: left;
  position: relative;
  vertical-align: top;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}

a img {
  z-index: 100;
}